name: Build Container

trigger:
  branches:
    include:
      - main
      - master

pr: none

resources:
  repositories:
    - repository: cppAzureDevOpsTemplates
      type: github
      name: hmcts/cpp-azure-devops-templates
      endpoint: 'GitHub-OAuth'
      ref: 'teams/vp/chakrab/vpbuildpipeline'

variables:
  - group: hmcts-crime-gh-ado-vg

# pool:
#   name: "MDV-ADO-AGENT-AKS-01"
#   demands:
#     - identifier -equals ubuntu-j21
pool:
  vmImage: 'ubuntu-latest'

stages:
  - template: pipelines/vp-build-test.yaml@cppAzureDevOpsTemplates
    parameters:
      repo: $(Build.Repository.Name)
